<% layout("/layouts/boilerplate") -%>

    <body>
        <div class="row">
            <div class="col-8 offset-2">
                <br>
                <h3>create a new listing:</h3>
                <form method="post" action="/listings" novalidate class="needs-validation"
                    enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input name="listing[title]" type="text" class="form-control" placeholder="add catchy title"
                            required>
                        <div class="valid-feedback">Nice One</div>
                        <div class="invalid-feedback">Please enter a title</div>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <textarea name="listing[description]" class="form-control" required></textarea>
                        <div class="valid-feedback">good One</div>
                        <div class="invalid-feedback">Please enter a description</div>
                    </div>
       
                    <div class="mb-3">
                        <label for="image" class="form-label">Upload the image</label>
                        <input name="listing[image]" type="file" class="form-control"  >
                        <div class="valid-feedback">good One</div>
                        <div class="invalid-feedback">Please upload an image</div>

                    </div>

                    <div class="row">
                        <div class="mb-3 col-md-4">
                            <label for="price" class="form-label">Price</label>
                            <input name="listing[price]" type="number" class="form-control" placeholder="1200" required>
                            <div class="valid-feedback">good One</div>
                            <div class="invalid-feedback">Please enter a price</div>
                        </div>
                        <div class="mb-3 col-md-8">
                            <label for="location" class="form-label">Location</label>
                            <input name="listing[location]" type="text" class="form-control"
                                placeholder="chennai,tamil nadu" required>
                            <div class="valid-feedback">good One</div>
                            <div class="invalid-feedback">Please enter a location</div>
                        </div>


                    </div>
                    <div class="mb-3">
                        <label for="country" class="form-label">Country</label>
                        <input name="listing[country]" type="text" class="form-control" placeholder="enter the country"
                            required>
                        <div class="valid-feedback">Nice One</div>
                        <div class="invalid-feedback">Please enter a country</div>

                    </div>
                    <br>

                    <button class="btn add-btn btn-dark">add</button>
                    <br><br>
                </form>
            </div>

        </div>

    </body>